/* CSS for the TortoiseShell */


/* Below CSS Reset */

* {
  margin: 0;
  padding: 0;
}


/* Above ^^^ CSS Reset */

html {
  font-size: 18px;
  line-height: 1.4;
  font-family: Helvetica!important;
}


/* CSS for Content Conatainers */

.container {
  max-width: 960px;
  margin: 0 auto;
}


/* CSS for Header */

header {
  background-image: url(../images/glasses-bg.png);
  background-size: cover;
  background-position: center;
  padding-top: 1rem;
  height: 30rem;
}

.hdr-sctn {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: cadetblue;
  color: white;
}

.hdr-sctn img {
  padding: 1rem 1rem 1rem 2rem;
  height: 1.5rem;
}

.hdr-img {
  display: flex;
  align-items: center;
}

.hdr-nav {
  padding-right: 1rem;
}

.hdr-sctn nav span {
  padding: 1rem 1rem;
}


/* CSS for Text Box */

.text-sctn {
  display: flex;
  justify-content: flex-end;
  padding-top: 11.5rem;
  /*Needed to account for the extra 1.5 padding provided by the span*/
}

.text-box {
  font-weight: bold;
  font-size: 2rem;
  line-height: 1.2rem;
  margin-right: -2rem;
}

.text-box span {
  background-color: white;
  padding: 1.5rem 5rem;
}


/* Services Section */

.gallery {
  display: flex;
  justify-content: center;
}

.img-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  height: 8rem;
  width: 5rem;
  margin: 3rem;
  position: relative;
}

.img-box img {
  width: 5rem;
}

div.paper img {
  width: 3.5rem;
}

.img-box span {
  position: absolute;
  bottom: 0;
}


/* CSS for Information Section*/

.info {
  display: flex;
  justify-content: center;
}

.info-box {
  width: 35%;
  padding-right: 5%;
}

.info-box span {
  width: 10rem;
  background-color: cadetblue;
  color: white;
  padding: 0.5rem 1.25rem;
  font-weight: bold;
}

.info-box p {
  margin-top: 1rem;
}


/* Footer Section */

footer {
  padding-top: 5rem;
}

.ftr-logo {
  display: flex;
  align-items: center;
  background-color: azure;
}

.ftr-logo img {
  height: 1.5rem;
  padding: 4rem 1rem 4rem 4rem;
}
